/* Fonts */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f5fbff;
    color: #222;
}

.brand-title {
    font-family: 'Orbitron', sans-serif;
    color: #FFA500;
}

/* Navigation */
.nav-link {
    color: #00A651;
    font-weight: 500;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: underline;
    color: #FFA500;
}

/* Products */
.card-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2rem;
}

.card-text {
    font-size: 1.1rem;
    color: #00A651;
}

/* Buttons */
.btn-success {
    background-color: #00A651;
    border: none;
}

.btn-success:hover {
    background-color: #008000;
}

/* Footer */
footer {
    background-color: #ADD8E6;
}

footer a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
}
